h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    
}

.homeBody{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: darkcyan;
}

#gymGearp1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkcyan;
    font-size: 15px;
    font-weight: bold;
}